@import url("https://fonts.googleapis.com/css3?family=Poppins:wght@100,200,300,400,500,600,700,800,900&display=swap");

.headerlogo{
    height: 40px;
    margin-top: 20px;
    opacity: 0.6;
}

body{
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
}

.registerbox{
    width: 420px;
    height: 520px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: 0.7;
    border-radius: 5px;
    padding: 70px 30px;
}

.registerlogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    
}

.registerbox p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.registerbox input{
    width: 100%;
    margin-bottom: 40px;
}
.registerbox input[type="text"], input[type="number"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 18px;
}

.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
}

.registerbox input[type="submit"]:hover{
    cursor: pointer;
    background: #fb2525; 
    color: #000;
}
